
.footer-bottom {
 background: #02466b;
 padding:6px 0;
 border-top:1px solid #d9d9d9;
 font-size:11px;
 color: #f8f8f8;
}
.widget{
    text-align: center;
    font-size: 14px;
    padding: 22px 0px;
}
