/* line 3, dispatcher-order-board.component.scss */
.dispatcher-order-container {
  min-height: 650px;
}
/* line 6, dispatcher-order-board.component.scss */
.dispatcher-order-container h4 {
  text-transform: capitalize;
  text-align: center;
}

/* line 12, dispatcher-order-board.component.scss */
.orders-section {
  height: 650px;
}
/* line 18, dispatcher-order-board.component.scss */
.orders-section .orders-overflow-container {
  overflow: scroll;
  height: 95%;
  border: 1px solid lightgray;
  overflow-x: hidden;
  text-align: center;
}
/* line 24, dispatcher-order-board.component.scss */
.orders-section .orders-overflow-container .order-header {
  background-color: #036092;
  color: white;
  width: 100%;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 31, dispatcher-order-board.component.scss */
.orders-section .orders-overflow-container .order-header h4 {
  color: white;
}

/* line 38, dispatcher-order-board.component.scss */
.tec-section {
  height: 650px;
  position: relative;
}
/* line 46, dispatcher-order-board.component.scss */
.tec-section .bulk-assign-button {
  position: absolute;
  left: 15px;
  display: flex;
  align-items: center;
}
/* line 52, dispatcher-order-board.component.scss */
.tec-section .bulk-assign-button .btn {
  width: auto;
}
/* line 56, dispatcher-order-board.component.scss */
.tec-section .on-map-check {
  position: absolute;
  display: flex;
  align-items: center;
  right: 5px;
  top: 10px;
}
/* line 62, dispatcher-order-board.component.scss */
.tec-section .on-map-check input {
  margin: 0 6px 0 0;
}
/* line 65, dispatcher-order-board.component.scss */
.tec-section .on-map-check label {
  margin: 0;
  cursor: pointer;
}
/* line 70, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container {
  overflow: scroll;
  border: 1px solid lightgray;
  height: 95%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  overflow-y: hidden;
}
/* line 79, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .single-tec {
  display: inline;
  height: 95%;
  margin-right: 10px;
  margin-left: 10px;
}
/* line 85, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .single-tec .tec-header {
  background-color: #036092;
  transition: 0.5s all;
  padding-bottom: 7px;
}
/* line 89, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .single-tec .tec-header > h4 {
  background-color: #036092;
  color: white;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.5s all;
}
/* line 98, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .single-tec .tec-header p {
  margin-bottom: 0;
  text-align: center;
}
/* line 101, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .single-tec .tec-header p span {
  color: white;
  font-size: 1.1em;
}
/* line 108, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .single-tec .single-tec-overflow {
  overflow: scroll;
  width: 200px;
  border: 1px solid #036092;
  height: 90%;
  overflow-x: hidden;
  text-align: center;
  transition: 0.5s all;
}
/* line 118, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .single-tec .not-available {
  opacity: 0.6;
  transition: 0.5s all;
}
/* line 123, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .single-tec > .not-available ~ .tec-header {
  opacity: 0.6;
  transition: 0.5s all;
}
/* line 129, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .map-container {
  height: 100%;
  width: 100%;
}
/* line 132, dispatcher-order-board.component.scss */
.tec-section .technician-overflow-container .map-container agm-map {
  height: 100%;
  width: 100%;
}
/* line 138, dispatcher-order-board.component.scss */
.tec-section .show-overflowX {
  overflow-x: scroll;
}
/* line 141, dispatcher-order-board.component.scss */
.tec-section .hide-overflowX {
  overflow-x: hidden;
}

/* line 146, dispatcher-order-board.component.scss */
.map-container {
  height: 500px;
  width: 100%;
  position: relative;
}
/* line 150, dispatcher-order-board.component.scss */
.map-container .filter-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #02466b;
  font-size: 1.75em;
  cursor: pointer;
  z-index: 100000000 !important;
}
/* line 159, dispatcher-order-board.component.scss */
.map-container .filter-body {
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 100000001 !important;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  transition: 0.25s all;
}
/* line 170, dispatcher-order-board.component.scss */
.map-container .filter-body .filter-tabs {
  margin-top: 35px;
}
/* line 173, dispatcher-order-board.component.scss */
.map-container .filter-body .close-filter {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* line 179, dispatcher-order-board.component.scss */
.map-container .filter-body .filter-form {
  width: 95%;
  margin: 35px auto 0;
}
/* line 182, dispatcher-order-board.component.scss */
.map-container .filter-body .filter-form .filter-form-section {
  height: 85px;
  width: 100%;
}
/* line 187, dispatcher-order-board.component.scss */
.map-container .filter-body .filter-form label {
  display: block;
}
/* line 191, dispatcher-order-board.component.scss */
.map-container .filter-body .layers {
  margin: 35px 15px;
}
/* line 193, dispatcher-order-board.component.scss */
.map-container .filter-body .layers > div {
  display: flex;
  justify-content: space-between;
}
/* line 199, dispatcher-order-board.component.scss */
.map-container .full-filter-width {
  width: 300px;
  transition: 0.25s all;
}
/* line 203, dispatcher-order-board.component.scss */
.map-container .zero-filter-width {
  width: 0;
  transition: 0.25s all;
}
/* line 207, dispatcher-order-board.component.scss */
.map-container agm-map {
  height: 90%;
  width: 100%;
}

@media (min-width: 1200px) {
  /* line 214, dispatcher-order-board.component.scss */
  .container {
    width: 98%;
  }
}
/* line 219, dispatcher-order-board.component.scss */
.container {
  margin-right: 15px;
  margin-left: 15px;
}
