@import "../../../assets/stylesheets/color-theme";

.estimation-container {

  .table {
    padding-top: 50px;
    padding-bottom: 25px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid $borderColor;
  }

  //.save-totalPrice-section {
  //  margin-top: 35px;
  //
  //  .totalPrice {
  //    cursor: default !important;
  //    font-size: 2em;
  //    font-weight: bold;
  //    color: $mainColor;
  //    height: 50px;
  //  }
  //
  //  .btn-save {
  //    font-size: 1.2em;
  //    height: 50px;
  //    box-sizing: border-box;
  //    display: inline;
  //    //margin-top: 35px;
  //    width: 100%;
  //    background-color: $mainColor;
  //    transition: 0.5s all;
  //    //color: $secondaryColor;
  //    //border: 2px solid $mainColor;
  //    border: 2px solid $mainColor;
  //    &:hover {
  //      color: $secondaryColor;
  //      border: 2px solid lightgray;
  //      transition: 0.5s all;
  //    }
  //    &:focus {
  //      color: white;
  //      border: 2px solid lightgray;
  //    }
  //  }
  //
  //}

  .total-margin {
    font-weight: bold;
  }
}
