<p-growl [(value)]="cornerMessageContract"></p-growl>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoadingContractSection"></p-progressSpinner>

<div class="uk-padding">
  <div *ngIf="!quotationDetails">
    <form *ngIf="!isNewCustomer">
      <div class="form-group">
        <label>Choose Customer :</label>
        <select [(ngModel)]="customerId" (change)="checkChoosedCUstomer()" name="customerId" class="form-control">
          <option [value]="undefined"><strong>New Customer ...</strong></option>
          <option *ngFor="let cust of customers" [value]="cust.id">{{cust.name}}</option>
        </select>
      </div>
    </form>

    <!--<label *ngIf="!customerId" style="display: block">Or</label>-->

    <button *ngIf="(!customerId || customerId == 'undefined') && !isNewCustomer" class="btn btn-light"
            (click)="toggleNewCustomerForm()">Create New
      Customer
    </button>

    <button *ngIf="isNewCustomer" class="btn btn-dark uk-margin-bottom" (click)="toggleNewCustomerForm()">Choose Existed
      Customer
    </button>

    <app-add-edit-customer (closeFormNow)="dismissFormNow()" (customerIdValue)="setCustomerId($event)"
                           *ngIf="isNewCustomer"></app-add-edit-customer>

  </div>

  <form #contract="ngForm" *ngIf="(!toggleLoadingContractSection && customerId) || (!toggleLoadingContractSection && quotationDetails)"
        (ngSubmit)="contract.valid && generateContract(contract.value)">

    <div class="form-group">
      <label>Contract type :</label>
      <select class="form-control" name="fK_ContractType_Id" [(ngModel)]="newContract.fK_ContractType_Id"
              required>
        <option [value]="undefined" [selected]="true" *ngIf="!newContract?.fK_ContractType_Id">--select
          contract
          type--
        </option>
        <option *ngFor="let type of contractTypes" [value]="type.id">{{type.name}}</option>
      </select>
      <em *ngIf="contract.submitted && contract.controls?.fK_ContractType_Id.invalid"><i
        class="fa fa-exclamation-triangle"></i>This field is required</em>
    </div>

    <div class="form-group">
      <label style="display: block">Start from Date:</label>
      <p-calendar name="startDate" [(ngModel)]="newContract.startDate" [showIcon]="true"
                  readonlyInput="true" required="true"></p-calendar>

      <em style="display: block" *ngIf="contract.submitted && contract.controls?.startDate.invalid"><i
        class="fa fa-exclamation-triangle"></i>This field is required</em>

    </div>

    <div class="form-group">
      <label style="display: block">End at Date:</label>
      <p-calendar name="endDate" [(ngModel)]="newContract.endDate" [showIcon]="true" readonlyInput="true"
                  required="true"></p-calendar>
      <em style="display: block" *ngIf="contract.submitted && contract.controls?.endDate.invalid"><i
        class="fa fa-exclamation-triangle"></i>This field is required</em>
    </div>

    <div class="form-group uk-margin-bottom price-section">
      <label style="display: block">Price</label>
      <p-spinner type="text" [min]="0" [step]="0.01" [(ngModel)]="newContract.price" name="price" required="true"
                 placeholder="Price"></p-spinner>
      <em style="display: block" *ngIf="contract.submitted && contract.controls?.price.invalid"><i
        class="fa fa-exclamation-triangle"></i>This field is required</em>
    </div>

    <div class="form-group">
      <label>Preventive Maintenance</label>
      <input type="checkbox" [checked]="newContract?.HasPreventiveMaintainence"
             name="HasPreventiveMaintainence"
             [(ngModel)]="newContract.HasPreventiveMaintainence">
    </div>

    <div *ngIf="newContract?.HasPreventiveMaintainence" ngModelGroup="preventiveInfo">
      <div class="form-group">
        <label>Order Priority</label>
        <select [(ngModel)]="newContract.FK_OrderPriority_Id" class="form-control"
                [required]="newContract.HasPreventiveMaintainence"
                name="fK_OrderPriority_Id">
          <option [value]="undefined" *ngIf="!newContract?.PreventiveInfo?.fK_OrderPriority_Id">-- Select Order Priority
            --
          </option>
          <option *ngFor="let orderPriority of orderPriorities" [value]="orderPriority .id">{{orderPriority.name}}
          </option>
        </select>
        <em style="display: block"
            *ngIf="contract.submitted && contract.controls?.preventiveInfo.controls?.fK_OrderPriority_Id?.invalid"><i
          class="fa fa-exclamation-triangle"></i>This field is required</em>
      </div>

      <div class="form-group">
        <label>Order Type</label>
        <select [(ngModel)]="newContract.fK_OrderType_Id" class="form-control"
                [required]="newContract?.HasPreventiveMaintainence"
                name="fK_OrderType_Id">
          <option [value]="undefined" *ngIf="!newContract?.PreventiveInfo?.fK_OrderType_Id">-- Select Order Type --
          </option>
          <option *ngFor="let orderType of orderTypes" [value]="orderType.id">{{orderType.name}}
          </option>
        </select>
        <em style="display: block"
            *ngIf="contract.submitted && contract.controls?.preventiveInfo.controls?.fK_OrderType_Id?.invalid"><i
          class="fa fa-exclamation-triangle"></i>This field is required</em>
      </div>

      <div class="form-group">
        <label>Problem Type</label>
        <select [required]="newContract?.HasPreventiveMaintainence" [(ngModel)]="newContract.fK_OrderProblem_Id"
                class="form-control"
                [required]="newContract.HasPreventiveMaintainence"
                name="fK_OrderProblem_Id">
          <option [value]="undefined" *ngIf="!newContract?.PreventiveInfo?.fK_OrderProblem_Id">-- Select Problem Type --
          </option>
          <option *ngFor="let problem of problems" [value]="problem.id">{{problem.name}}
          </option>
        </select>
        <em style="display: block"
            *ngIf="contract.submitted && contract.controls?.preventiveInfo.controls?.fK_OrderProblem_Id?.invalid"><i
          class="fa fa-exclamation-triangle"></i>This field is required</em>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Remarks</label>
          <textarea name="remarks" placeholder="please write any notes if requred..." rows="4"
                    [(ngModel)]="newContract.remarks" class="form-control"></textarea>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Upload Documents</label>
      <p-fileUpload name="contractFiles" [showUploadButton]="false" (onRemove)="remove($event)"
                    [showCancelButton]="toggleUploadButtons" customUpload="true" multiple="true"
                    (onSelect)="showAtView($event)"
                    maxFileSize="50000000">
      </p-fileUpload>
    </div>

    <button type="submit" class="btn btn-dark uk-margin-top">Generate Contract</button>
    <button (click)="dismissFormNow()" *ngIf="!quotationDetails" type="button" class="btn btn-default uk-margin-top">
      close
    </button>
  </form>
</div>
