<p-growl [(value)]="cornerMessage" life="5000"></p-growl>
<div class="col-md-offset-1">
  <h4 class="sub-title">List Of Orders</h4>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">

    <ngx-datatable class="material expandable" [rows]="orders.reverse()" [columnMode]="'force'" [columns]="[]"
                   [headerHeight]="50"
                   [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
                   [selected]="[]"
                   [selectionType]="'falsey'">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false"
                            [checkboxable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="code" name="Order Number"></ngx-datatable-column>

      <!--<ngx-datatable-column [width]='75' prop="contractNumber" name="Contract Nmber"></ngx-datatable-column>-->

      <ngx-datatable-column [width]='100' prop="customer.name"
                            name="Customer name"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderProblem.name" name="Order Problem"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderType.name" name="Order Type"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderPriority.name" name="Order Priority"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="startDateView" name="Start Date"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="endDateView" name="End Date"></ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="price" name="Price"></ngx-datatable-column>

      <ngx-datatable-column [width]='120' name="Edit/remove">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <p-splitButton label="Edit" appendTo="body" icon="fa-pencil-square-o"
                         (onClick)="edit(row)" (onDropdownClick)="setActiveRow(row)"
                         [model]="buttonsList" styleClass="ui-button-warning"></p-splitButton>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>
