<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h4 class="sub-title">Customer details</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-5">
    <h4>
      Customer Name: {{customerDetails?.customerName}}
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-5">
    <h4>
      Customer Mobile: {{customerDetails?.customerMobile}}
    </h4>
  </div>
  <div class="col-md-offset-1 col-md-5">
    <h4>
      Customer Area: {{customerDetails?.area}}
    </h4>
  </div>
</div>
