<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Contract No.: {{data.data.contract.contractNumber}} </h4>
</div>

<div class="modal-body">
  <div class="form-group">
    <div class="col-md-6">
      <label>Customer Name:</label>
      <h5>{{data.data.customer.name}}</h5>
    </div>
    <div class="col-md-6">
      <label>Customer Mobile:</label>
      <h5>{{data.data.customer.phone}}</h5>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label>Governorate:</label>
      <h5>{{data.data.location.governorate}}</h5>
    </div>
    <div class="col-md-6">
      <label>Area:</label>
      <h5>{{data.data.location.area}}</h5>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <label>Contract Start Date:</label>
      <h5>{{data.data.contract.startDate}}</h5>
    </div>
    <div class="col-md-6">
      <label>Contract Expire Date:</label>
      <h5>{{data.data.contract.endDate}}</h5>
    </div>
  </div>
<div class="form-group">
  <label>Order Progress:</label>
  <ngx-datatable class="material expandable" [rows]="orderProgress" [columnMode]="'force'"
                 [columns]="[]"
                 [headerHeight]="50"
                 [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="false" [limit]="10"
                 [selected]="[]">

    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                          [resizeable]="false" [headerCheckboxable]="false"
                          [checkboxable]="false">
    </ngx-datatable-column>

    <ngx-datatable-column [width]='75' prop="progressStatus.id" name="Id"></ngx-datatable-column>
    <ngx-datatable-column [width]='75' prop="progressStatus.name" name="Status"></ngx-datatable-column>
    <ngx-datatable-column [width]='75' prop="createdDate" name="Created Date"></ngx-datatable-column>
    <ngx-datatable-column [width]='75' prop="note" name="Remarks"></ngx-datatable-column>
  </ngx-datatable>
</div>
</div>

<div class="modal-footer">
  <button class="btn" (click)="activeModal.dismiss()">close</button>
</div>

